html, body {
	height: 100%;
}

body {
	transition: background-color 0.5s ease-in-out;
}

.dark {
	background-color: white;
}

.eye {
	background-image:url("../open.png");
	position: relative;
	margin: auto;
	top: 100px;
	left: 20px;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.hover {
	background-image:url("../midway.png");
	position: relative;
	margin: auto;
	top: 100px;
	left: 20px;
	width: 100%;
	height: 100%;
}

.active {
	background-image:url("../close.png");
	position: relative;
	margin: auto;
	top: 100px;
	left: 20px;
	width: 100%;
	height: 100%;
}