html, body {
	background-color: white;
	margin: 0;
}

h1 {
	color: black;
	font-family: helvetica;
	font-size: 45px;
	text-align: left;
	margin-top: 100px;
	margin-left: 50px;
}

h2 {
	color: black;
	font-family: helvetica;
	text-align: left;
	margin-left: 50px;
}

p {
	position: relative;
	color: black;
	width: 40%;
	font-size: 20px;
	font-family: helvetica;
	text-align: left;
	margin-right: 500px;
	margin-left: 50px;
	padding: 0;
}

.image-1 {
	position: absolute;
	left: 60%;
	bottom: 30%;
}

.image-2 {
	position: absolute;
	left: 60%;
	top: 75%;
}

.image-3 {
	position: absolute;
	left: 60%;
	top: 125%;
}