html {
	background-color: black;
}

html, body {
	font-family: 'helvetica';
	color: black;
}

h1 {
	font-family: 'helvetica';
	font-size: 28px;
	color: white;
	position: absolute;
	left: 200px;
}

.subheading {
	font-family: 'helvetica';
	font-size: 28px;
	color: yellow;
	position: absolute;
	left: 380px;
	top: 70px;
}


p:hover {
	color: white;
}

a:link {
	color: black;
	width: 10vw;
	height: 10vw;
}

a:visited {
	color: black;
	width: 10vw;
	height: 10vw;
}

a:active {
	color: red;
	width: 10vw;
	height: 10vw;
}

a:hover {
	color: white;
	width: 10vw;
	height: 10vw;
}


div {
	position: absolute;
}

.education {
	left: 20px;
	top: 20px;
	width: 10vw;
	height: 10vw;
}

.employment {
	left: 200px;
	top: 150px;
	width: 10vw;
	height: 10vw;
}

.permission {
	left: 600px;
	top: 230px;
	width: 10vw;
	height: 10vw;
}

.accompany {
	left: 600px; 
	top: 100px;
}

.western {
	right: 100px;
	top: 10px;
	width: 10vw;
	height: 10vw;
}

.mensclothes {
	left: 20px;
	top: 80px;
	width: 10vw;
	height: 10vw;
}

.makeup {
	left: 340px;
	top: 80px;
	width: 10vw;
	height: 10vw;
}

.perfume {
	left: 400px;
	top: 200px;
	width: 10vw;
	height: 10vw;
}

.laugh {
	left: 550px;
	top: 20px;
	width: 10vw;
	height: 10vw;
}

.photograph {
	left: 300px;
	top: 300px;
	width: 10vw;
	height: 10vw;
}

.nails {
	left: 800px;
	top: 400px;
	width: 10vw;
	height: 10vw;
}

.shoes {
	left: 400px;
	top: 700px;
	width: 10vw;
	height: 10vw;
}

.talk {
	left: 1000px;
	top: 800px;
	width: 10vw;
	height: 10vw;
}

.gather {
	right: 1000px;
	top: 400px;
	width: 10vw;
	height: 10vw;
}

.wash {
	left: 500px;
	top: 900px;
	width: 10vw;
	height: 10vw;
}

.taxi {
	left: 80px;
	top: 300px;
	width: 10vw;
	height: 10vw;
}

.bicycle {
	left: 200px;
	top: 800px;
	width: 10vw;
	height: 10vw;
}

.baths {
	left: 200px;
	top: 500px;
	width: 10vw;
	height: 10vw;
}

.balcony {
	right: 200px;
	top: 500px;
}

.window {
	left: 80px;
	top: 600px;
	width: 10vw;
	height: 10vw;
}

.gratification {
	right: 30px;
	top: 290px;
	width: 10vw;
	height: 10vw;
}

.indulge {
	left: 1000px;
	top: 600px;
}

.suicide {
	left: 30px;
	top: 200px;
	width: 10vw;
	height: 10vw;
}











